@import "node_modules/bootstrap/scss/bootstrap";
@import "./_setting.scss";

.App {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $text-color;
  .icon {
    font-size: 14px;
    margin-right: 6px;
  }
  .bscontainer {
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .trello-content-editable {
    background-color: inherit;
    border: 1px solid transparent;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: #fff;
    }
  }
  .actions-add-new-item {
    display: flex;
    align-items: center;
    .cancel-icon {
      margin-left: $gap;
      cursor: pointer;
      i {
        font-size: 24px;
        color: #42526e;
        &:hover {
          color: darken($alert-danger, 10);
        }
      }
    }
  }
}
